@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Ultra&display=swap');
@import "tailwindcss";


@layer base {
  html, body, #root {
  height: 100%;
  background-color: rgb(252, 251, 248);
  font-family: "Outfit", sans-serif;
  }
}


@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .gray {
    color: #807b6f;
  }

  .dark-gray {
    color: #6c675c;
  }

  .gray-hover:hover {
    color: #6c675c;
  }

  .font-outfit {
    font-family: "Outfit", sans-serif;
  }

  .font-ultra {
    font-family: "Ultra", serif;
  }

  .font-josefin {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
  }

  .animate-nav-in {
    animation: fade-slide-in 0.5s ease-out forwards;
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
}
